* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    color: #f3f3f3;
}

body {
    padding: 40px;
    background-color: #000000;
    font-family: "JetBrains Mono", "Arial Narrow", Arial, sans-serif;
}

h2 {
    color: #f3f3f3;
    text-align: center;
    font-size: 48px;
}
