* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
    background-color: #151515;
    font-family: "JetBrains Mono", "Arial Narrow", Arial, sans-serif;
}

h2 {
    color: #f3f3f3;
    text-align: center;
    font-size: 48px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    border: 1px solid #4b5236;
    padding: 20px;
    margin: 10px;
    background-color: #1f1f1f;
    border-radius: 10px;
    min-height: 100px;
}

button {
    border: none;
    font-size: 30px;
    background-color: transparent;
    width: 100%;
    text-align: right;
    cursor: pointer;
}
